<div class="container-fluid">
<h1>Websites</h1>
<div class="list-group">
  <a [routerLink]="'/websites/' + website._id + '/pages'" *ngFor="let website of websites"
     class="list-group-item">
    <span [hidden]="website.editing">{{website.title}}</span>
    <input
      [(ngModel)]="website.title"
      [hidden]="!website.editing"/>
    <span class="float-right">
    <button *ngIf="!website.editing"
       (click)="setEditing(website, true)"
       class="btn btn-warning float-right">Edit</button>
    <button *ngIf="website.editing"
       (click)="setEditing(website, false)"
       class="btn btn-success float-right">Done</button>
    <button
      (click)="deleteWebsite(website)"
      class="btn btn-danger float-right">Remove</button>
      </span>
  </a>
</div>
<br/>
<button (click)="createWebsite()" class="btn btn-success">
  Create Website
</button>
</div>
